@font-face {
  font-family: "Avenir";
  src: "../font/Avenir.ttc";
}
body {
  background-color: #F3F7F9;
  min-height:100%; padding:0; margin:0;
  font-family: "Avenir", serif;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 75px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #CDCDCD;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 75px;
    font-size: 50px !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding:0; position:absolute; top:0; bottom:0; left:0; right:0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.nav-instant {
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-default.btn-instant {
  border-radius: 90px;
  padding: 5px 20px;
  margin-top: 10px;
  background-color: transparent;
  border-color: #3FADE3;
  border-width: 2px;
  color: #3FADE3;
}
.btn.btn-default.btn-instant.btn-white {
  color: white;
  border-color: white;
}
.color-blue {
  color: #75ADF2;
}
.btn.btn-default.btn-instant:hover {
  color: white;
  background-color: #3FADE3;
}
video#bgvid {
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    position: absolute;
    top: -40px;
    /*-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    transition: 1s opacity;
}
#bgvid:-webkit-full-screen  {
  width: 100%;
  height: 100%;
}
.stopfade { opacity: .5; }

.full-screen {
  min-height:100%;
}
.align-middle {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.align-right {
  text-align: right;
}

.title-one-blue {
  font-size:38px;
  color:#72B2FF;
}

.margin-top-40 {
  margin-top: 40px;
}
.margin-top-10 {
  margin-top: 10px;
}

ul.blue-bullet li {
  color: #72B2FF; /* bullet color */
}
ul.blue-bullet li span {
  color: #585858; /* text color */
}

ul.blue-bullet {
  list-style: none;
}

ul.blue-bullet li:before {
  content: "•";
  font-size: 150%; /* or whatever */
  padding-right: 5px;
}

.white-box {
  background-color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}

.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}

#next-section {
  text-align:center;
  position: fixed;
  bottom: 10px;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.anchor-nav a.active {
  background-color: #F7F9FB;
  color:black;
}

.anchor-nav a:hover {
  color: black;
  transition box-shadow: 0.15s ease-out;
  box-shadow: 0px 0px 15px 1px #cfcfcf;
}

div.active {
  color: black;
  transition box-shadow: 0.15s ease-out;
  box-shadow: 0px 0px 15px 1px #cfcfcf;
}
#right-nav {
  position: fixed;
  right: 60px;
  margin-top: 50vh;
  transform: translateY(-50%);
}
#right-nav li{
  list-style-type: none;
  text-align: center;
  writing-mode:tb-rl;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform:rotate(0deg);
  transform: rotate(0deg);
  white-space:nowrap;
}
#right-nav li a{
  text-decoration: none;
  background-color: transparent;
  display: none;
  box-shadow: none;
  color:#75ADF2;
  transition: transform 500ms ease-out;
  transform: translateY(200px);
}

#right-nav li a.active {
  display: block;
  transform: translateY(0px);
}
#right-nav li a.previous {
  display: block;
  color: #CDCDCD;
  transform: translateY(-200px);
}
#right-nav li a.next {
  display: block;
  color: #CDCDCD;
  transform: translateY(200px);
}
.color-blue-light {
  color: #D1E2F7;
}

#section-8 {
  position: relative;
}
.transition-story {
  position: absolute;
  transition: transform 1s ease-in-out;
  transform: translateX(-2000px);
  overflow: hidden;
}

.transition-story.present, #our-story-row.present {
  transform: translateX(0px);
}

.clickable {
  cursor: pointer;
}

.team-name {
  text-align: center;
  writing-mode:tb-rl;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform:rotate(180deg);
  transform: rotate(180deg);
  white-space:nowrap;
  margin-top: 40px;
}

.margin-bot-20 {
  margin-bottom: 20px;
}
